/* == Videos Component == */

.videos {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    border-top: 1px solid hsla(0, 0%, 0%, 0.15);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.15);
}

.videos__category-title {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
}

.videos__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 16px;
}

.videos__link {
    display: flex;
}

.videos__thumbnail {
    width: 102px;
    height: 57px;
}

.videos__content {
    flex: 1 1 auto;
    padding-left: 16px;
    overflow: hidden;
}

.videos__title,
.videos__description,
.videos__moment {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.videos__title {
    font-size: 16px;
    line-height: 24px;
}

.videos__description {
    font-size: 14px;
    line-height: 20px;
}

.videos__moment {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.8;
}
